[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh-hist"]
	path = zsh-hist
	url = https://github.com/marlonrichert/zsh-hist
[submodule "zsh-autocomplete"]
	path = zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
