[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
  branch = master
[submodule "zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
  branch = master
[submodule "zsh-completions"]
	path = zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
  branch = master
[submodule "neovim"]
	path = nvim
	url = https://github.com/FuelledByCoffee/neovim
  branch = main
[submodule "vim"]
	path = vim
	url = https://github.com/FuelledByCoffee/vim
  branch = main
[submodule "zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	branch = master
[submodule "alacritty-theme"]
	path = alacritty/themes
	url = git@github.com:alacritty/alacritty-theme.git
[submodule "kickstart.nvim"]
	path = kickstart.nvim
	url = git@github.com:FuelledByCoffee/kickstart.nvim.git
