[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
  branch = master
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
  branch = master
[submodule "zsh-completions"]
	path = zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
  branch = master
[submodule "neovim"]
	path = neovim
	url = https://github.com/FuelledByCoffee/neovim
  branch = main
[submodule "vim"]
	path = vim
	url = https://github.com/FuelledByCoffee/vim
  branch = main
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	branch = master
